.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius:20px;
    background-color: #F7F7F7;
}

h1 {
    font-size: 36px;
    font-family: "Arial", sans-serif;
    margin-bottom: 20px;
}

label{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

input[type=text], input[type=password]{
    border: 1px solid #150;
    width: 300px;
    height: 40px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 100;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
}

input[type=button]{
    border: none;
    height: 40px;
    outline: none;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 100;
    border-radius: 5px;
    text-align: center;
    background-color: #3F51B5;
    color: #fff;
    cursor: pointer;
}

#Register {
    background-color: #F44336;
}

.registration{
    width: 300px;
    align-content: space-around;
    justify-content: space-around;
    display: flex!important;
}